
#formRegistrazione{
    margin: 0 auto;
    margin-top: 10%;
    padding: 5%;
    padding-bottom: 3%;
    text-align: center;
    border: 5px;
    border-style: groove;
    background-color: whitesmoke;
}

#intestazione {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
}

#separatore{
    margin-bottom: 1%;
}

#invio{
    margin-top: 5%;
}
